<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>焊机排查.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>461DC0F91DE2A5EE006C75D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>461DC10D1DE2A5EE006C75D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>461DC1181DE2A5EE006C75D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
